{% extends 'base.html' %}
{% load static %}
{% load food_tags %}
{% block content %}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Food Menu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--::chefs_part start::-->

<!-- food_menu start-->
<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <p>Popular Menu</p>
                    <h2>Delicious Food Menu</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">

                    {% get_categories as categories %}

                    {% for cat in categories %}
                    <a class="nav-item nav-link {% if forloop.first %}active{% endif %}"
                       id="{{ cat.name }}-tab"
                       data-toggle="tab"
                       href="#{{ cat.name }}"
                       role="tab"
                       aria-controls="{{ cat.name }}"
                       aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ cat.name }}
                        <img src="{% static 'img/icon/play.svg' %}" alt="play">
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="tab-content" id="myTabContent">
                {% for cat in categories %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %} single-member"
                     id="{{ cat.name }}" role="tabpanel">

                    <div class="row">

                        {% get_menu_by_category cat as menus %}

                        {% for item in menus %}
                        <div class="col-sm-6 col-lg-6">
                            <div class="single_food_item media">
                                <img src="{{ item.image.url }}" class="mr-3" alt="{{ item.name }}">
                                <div class="media-body align-self-center">
                                    <h3>{{ item.name }}</h3>
                                    <p>{{ item.description }}</p>
                                    <h5>${{ item.price }}</h5>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center w-100">غذایی برای این دسته موجود نیست.</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- food_menu part end-->

<!--::chefs_part end::-->

<!-- intro_video_bg start-->
<section class="intro_video_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro_video_iner text-center">
                    <h2>Expect The Best</h2>
                    <div class="intro_video_icon">
                        <a id="play-video_1" class="video-play-button popup-youtube"
                           href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                            <span class="ti-control-play"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- intro_video_bg part start-->

{% endblock %}