{% extends 'base.html' %}
{% load static %}
{% load website_tags %}
{% block content %}

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Expensive but the best</h5>
                            <h1>Deliciousness jumping into the mouth</h1>
                            <p>Together creeping heaven upon third dominion be upon won't darkness rule land
                                behold it created good saw after she'd Our set living. Signs midst dominion
                                creepeth morning</p>
                            <div class="banner_btn">
                                <div class="banner_btn_iner">
                                    <a href="#" class="btn_2">Reservation <img src="{% static 'img/icon/left_1.svg' %}" alt=""></a>
                                </div>
                                <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="popup-youtube video_popup">
                                    <span><img src="{% static 'img/icon/play.svg' %}" alt=""></span> Watch our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
{% include 'website/index_part/exclusive_item.html' %}

{% include 'website/index_part/about.html' %}

{% include 'website/index_part/intro_video.html' %}

{% include 'website/index_part/food_menu.html' %}

{% include 'website/index_part/chefs.html' %}

{% include 'website/index_part/regervation.html' %}

{% include 'website/index_part/review.html' %}

{% index_part_exclusive_item_blog %}


{% endblock %}