{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load blog_tags %}


<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Blog Single</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="blog_details">
                        <h2>{{ post.title }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li>
                                <i class="far fa-folder"></i>
                                {% for cat in post.category.all %}
                                <a href="{% url 'blog:blog_category' cat.slug %}">{{ cat.name }}</a>{% if not forloop.last %},
                                {% endif %}
                                {% endfor %}
                            </li>
                            <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        {{ post.content|safe }}
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> Lily and 4
                            people like this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                    {% post_navigation post.id %}
                    <div class="navigation-area">
                        <div class="row">
                            <!-- Prev -->
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                {% if prev_post %}
                                <div class="thumb">
                                    <a href="{% url 'blog:single' prev_post.id %}">
                                        <img class="img-fluid" src="{{ prev_post.image.url }}"
                                             alt="{{ prev_post.title }}">
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="{% url 'blog:single' prev_post.id %}">
                                        <h4>{{ prev_post.title|truncatechars:25 }}</h4>
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                            <!-- Next -->
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                {% if next_post %}
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="{% url 'blog:single' next_post.id %}">
                                        <h4>{{ next_post.title|truncatechars:25 }}</h4>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="{% url 'blog:single' next_post.id %}">
                                        <img class="img-fluid" src="{{ next_post.image.url }}"
                                             alt="{{ next_post.title }}">
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="{% static 'img/blog/author.png' %}" alt="">
                        <div class="media-body">
                            <a href="{% url 'blog:author' post.author.username %}">
                                <h4>{{ post.author }}</h4>
                            </a>
                            <p>Second divided from form fish beast made. Every of seas all gathered use saying you're,
                                he
                                our dominion twon Second divided from</p>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>{{ comments.count }} Comments</h4>

                    {% for comment in comments %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{% static 'img/comment/comment_1.png' %}" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        {{ comment.message }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">{{ comment.name }}</a>
                                            </h5>
                                            <p class="date">{{ comment.created_date|date:"F j, Y \a\t H:i" }}</p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No comments yet.</p>
                    {% endfor %}
                </div>
                {% if user.is_authenticated or not post.login_require %}
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                    <textarea class="form-control w-100" name="comment" cols="30" rows="9"
                              placeholder="Write Comment"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="text" placeholder="Name">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="subject" type="text" placeholder="Subject">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="button button-contactForm">Send Message</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <p>You must login to comment.</p>
                <a class="btn btn-primary" href="{% url 'accounts:auth' %}?next={{ request.path }}">Login to comment</a>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    {% sidebar_search %}
                    {% sidebar_categories %}
                    {% sidebar_popular %}
                    {% sidebar_tags %}
                    {% sidebar_instagram %}
                    {% sidebar_newsletter %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area end =================-->

{% endblock %}